<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PARAS FASHIONS</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Roboto:100,300,400,500,700,900" rel="stylesheet"> 
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
    <link href="css/owl.theme.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="css/si-icons.css" rel="stylesheet" type="text/css" />
    <link href="css/animated.css" rel="stylesheet" type="text/css" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="css/responsive.css" rel="stylesheet" type="text/css" />
</head>
<body>

<header>
	<div class="custom-header clearfix">
    	<nav>
            <div class="hamberger"><span class="line"></span></div>
            <div class="search_bar relative">
                <input type="text" class="form-control" placeholder="Search..."/>
                <span><a href="javascript:void(0)" class="search_btn"><i class="fa fa-search"></i></a></span>
            </div>
            <div class="logo"><a href="javascript:void(0);"><img src="img/logo.png" alt="logo here"/></a></div>
            <div class="right_nav pull-right">
            	<ul>
                	<li><a href="javascript:void(0);">Wishlist</a></li>
                    <li><a href="#login_popup" data-toggle="modal">Sign In</a></li>
                    <li><a href="javascript:void(0);">Request Appoinment <i class="fa fa-angle-down"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<section class="cms-header" style="background-image:url(img/bg_cms_1.jpg);">
	<div class="container">
    	<div class="cms-caption">
            <div class="cms-ban-heading">
                FAQ'S
            </div>
            <div class="cms-ban-breadcrumbs">
               	<ul>
                	<li><a href="javascript:void(0);">Home</a></li>
                    <li><span>>></span></li>
                    <li class="active">Faq's</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------TERMS & CONDITIONS---------------------------------------------->
<section class="terms_condition_block">
	<div class="container">
    	<div class="row">
        	<div class="faqs_block">
                <div class="panel-group" id="accordion" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#faq_one">
                                <span><i class="fa fa-plus"></i></span> What is Lorem Ipsum?
                            </a>
                        </div>
                        <div id="faq_one" class="panel-collapse collapse" role="tabpanel">
                            <div class="panel-body">
                                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                 <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#faq_two">
                                <span><i class="fa fa-plus"></i></span> What is Lorem Ipsum?
                            </a>
                        </div>
                        <div id="faq_two" class="panel-collapse collapse" role="tabpanel">
                            <div class="panel-body">
                                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                 <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#faq_three">
                                <span><i class="fa fa-plus"></i></span> What is Lorem Ipsum?
                            </a>
                        </div>
                        <div id="faq_three" class="panel-collapse collapse" role="tabpanel">
                            <div class="panel-body">
                                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                 <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            </div>
                        </div>
                    </div>
              	</div>  
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------FOOTER SEC START------------------------------------------------>
<footer class="my_footer">
	<div class="container">
    	<div class="custom_footer">
        	<ul class="clearfix">
            	<li>
                	<div class="footer_holder">
                    	<h3 class="footer_heading">DOWNLODE THE APP</h3>
                        <div class="footer_containt">
                        	<div class="app_download_holder clearfix">
                        		<div class="app_img"><img src="img/36.png" alt="google_app"/></div>
                                <div class="barcode_img"><img src="img/38.png" alt="google_app"/></div>
                            </div>
                        	<div class="app_download_holder clearfix">
                        		<div class="app_img"><img src="img/37.png" alt="google_app"/></div>
                                <div class="barcode_img"><img src="img/38.png" alt="google_app"/></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                	<div class="footer_holder">
                    	<h3 class="footer_heading">USEFULL LINK</h3>
                        <div class="footer_containt">
                        	<ul>
                            	<li><a href="javascript:void(0);">Contact us</a></li>
                                <li><a href="javascript:void(0);">FAQ</a></li>
                                <li><a href="javascript:void(0);">Request Call Back</a></li>
                                <li><a href="javascript:void(0);">Payment Options</a></li>
                                <li><a href="javascript:void(0);">Size Chart and guidelines</a></li>
                                <li><a href="javascript:void(0);" class="bulk_purchase">Track My Order</a></li>
                                <li><a href="javascript:void(0);" class="bulk_purchase">Bulk Purchase</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                	<div class="footer_holder">
                    	<h3 class="footer_heading">Information</h3>
                        <div class="footer_containt">
                        	<ul>
                            	<li><a href="javascript:void(0);">About Us</a></li>
                                <li><a href="javascript:void(0);">Delivery Information</a></li>
                                <li><a href="javascript:void(0);">Privacy & Policy</a></li>
                                <li><a href="javascript:void(0);">Terms & Conditions</a></li>
                                <li><a href="javascript:void(0);">Shipping policy</a></li>
                                <li><a href="javascript:void(0);">Return policy</a></li>
                                <li><a href="javascript:void(0);">submit ticket</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                	<div class="footer_holder">
                    	<h3 class="footer_heading">Registered Office</h3>
                        <div class="footer_containt">
                        	<p>Lorem Ipsum is simply Lorem dummy text of the  Lorem printing  012412</p>
                        </div>
                    </div>
                </li>
                <li>
                	<div class="footer_holder">
                    	<h3 class="footer_heading">STORE LOCATER</h3>
                        <div class="footer_containt">
                        	<div class="footer_map">
                        		<img src="img/39.jpg" alt="map"/>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="newsletter_block">
        	<div class="newsletter clearfix">
            	<div class="join_newsletter pull-left">
                    <h4>Join Our Newsletter</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing  elit. Maecenas lacinia libero et dolor viverra  scelerisque nec a velit.</p>
                </div>
                <div class="newsletter_email pull-right">
                	<input type="text" class="form-control" placeholder="email@example.com"/>
                    <span class="submit_button"><a href="javascript:void(0);"><i class="fa fa-paper-plane-o"></i></a></span>
                </div>
            </div>
            <div class="currancy_tab">
            	<div class="input-group-btn dropup">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="img/india.png"> Action <span class="icon"><i class="fa fa-angle-up"></i></span></button>
                <ul class="dropdown-menu mCustomScrollbar">
                  <li><a href="#"><img src="img/india.png"> Indian Rupees</a></li>
                  <li><a href="#"><img src="img/india.png"> Indian Rupees</a></li>
                  <li><a href="#"><img src="img/india.png"> Indian Rupees</a></li>
                  <li><a href="#"><img src="img/india.png"> Indian Rupees</a></li>
                </ul>
              </div><!-- /btn-group -->
            </div>
        </div>
    </div>
    <div class="bottom_footer">
    	<div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="copyright">&copy; 2017 Parasfashions | All rights reserved</div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                	<ul class="client_logo clearfix text-right">
                    	<li><a href="javascript:void(0);"><img src="img/dhl_logo.png" alt="logo"/></a></li>
                        <li><a href="javascript:void(0);"><img src="img/fedex.png" alt="logo" /></a></li>
                        <li><a href="javascript:void(0);"><img src="img/quick-heal.png" alt="logo"/></a></li>
                        <li><a href="javascript:void(0);"><img src="img/Layer-68.png" alt="logo"/></a></li>
                        <li><a href="javascript:void(0);"><img src="img/master_card.png" alt="logo" /></a></li>
                        <li><a href="javascript:void(0);"><img src="img/ssl.png" alt="logo" width="30px;"/></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/wow.js"></script>
<script src="js/custom.js"></script>
</body>
</html>